# Node.js
node_modules/
npm-debug.log
package-lock.json


# If your project has client and server folders:
client/node_modules/
server/node_modules/


.env
server/.env
client/.env


# Logs
logs/
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
